* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 10px;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}



#my.data.lables {
  font-family: 'Nunito', sans-serif;
}

/* Global styles */
:root {
  --color-light: #EBF3F5;
  --color-dark: rgba(33,34,50,1);
  --color-blue: #4E88A2;
  --zeehive-blue: #EBF3F5;
  --color-gray: #4B4A4F;
  --shadow: 6px 6px 15px 4px rgba(115,115,115,0.15);;
}

/* mobile typography */

h1  {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'Numans', sans-serif;
  line-height: normal;
}

h2 {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .9px;
  line-height: 1.4;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: var(--color-blue);
}

h3 {
  /* font-family: 'Numans', sans-serif; */
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .2px;
  line-height: 1.3;
  margin-bottom: 2rem;
  color: var(--color-gray);
  /* color: #777; */
}

h4 {
  font-family: 'Numans', cursive;
  font-size: 1.8rem;
  font-weight: 400;
  /* font-style: italic; */
  letter-spacing: .2px;
  line-height: 1.7;
  margin-bottom: 2rem;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

p, li {
  color: rgba(33,34,50,.8);
  font-size: 1.5rem;

}

p {
  line-height: 1.5;
  margin-bottom: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p a:hover {
  color: rgba(33,34,50,.6);
}

li {
  margin-bottom: .8rem;
}

strong {
  font-weight: 500;
}

.shadow {
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

/* mobile buttons */
.btn-wrapper {
  height: 9rem;
  text-align: center;
  padding: 2.9rem;
  position: relative;
  z-index: 3;
}

.btn {
  border: black solid 1px;
  display: inline-block;
  letter-spacing: .6px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 1.6rem 1rem 1.6rem;
}

.btn a {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
}

.btn-dark {
  border: var(--color-dark) solid 1px;
  color: var(--color-dark);
}

.btn-dark:hover{
  /* -webkit-box-shadow: .4px .4px 4px 1px rgba(170,170,170,.3);
          box-shadow: .4px .4px 4px 1px rgba(170,170,170,.3); */
  background-color: var(--color-blue);
  color: #C9EBF9;
}

.btn-light {
  border: #fff solid 1px;
  color: #fff;
}

.btn-light:hover {
  background-color: rgba(242,242,242,.1);
}

/* Mobile Nav Bar */
.wrapper {
  top: 55px;
  position: relative;
}

nav {
  background:
    -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), color-stop(rgba(255, 255, 255, 0.99)),to(rgba(255, 255, 255, 0.90)));
  background:
    -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.99),rgba(255, 255, 255, 0.90));
  background:
    -o-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.99),rgba(255, 255, 255, 0.90));
  background:
    linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.99),rgba(255, 255, 255, 0.90));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
  font-family: 'Numans', sans-serif;
  height: 55px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .8rem 1.6rem .8rem 1.6rem;
  position: fixed;
  width: 100vw;
  z-index: 999;

}

.nav-links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-links li {
  font-size: 1.2rem;
  padding-left: 1.5rem;

}

.nav-links a:hover {
  color: var(--color-blue);
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}


/* contact */

.contact {
  color: #FFF;
  background-color: var(--color-dark);
  padding: 10rem 0;

}

.contact-text {
  text-align: center;
}

.social-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 2rem;
  width: 8rem;
}



.email-contact {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa-envelope {
  margin-bottom: 1.5rem;
  padding-right: 1.5rem;
}

.contact p {
  color: #FFF;
  letter-spacing: .8px;
  font-weight: 300;
}

.contact h4 {
  font-size: 2.2rem;
  padding-top: 3rem;
}


/* footer */
.footer-rainbow {
  background:
  url(../images/global/footer-rainbow.png)
  center / cover
  no-repeat;
  height: 1.8rem;
}

footer {
  padding: 1rem 0 6rem 4rem;
}




/* Home page mobile*/

.hero.home {
  /* border: solid red 2px; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  margin: 0 auto;
  padding: 4rem;
}

.hero-summary {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          grid-template-areas:
  ". logo ."
  "name name name"
  "statement statement statement";
  /* grid-gap: 2rem; */
}

.hero-summary .mobile {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
  min-width: 70px;
}

.hero-summary .name {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: name;

}

.hero-summary .home-special {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: statement;
}

@media only screen and (min-width: 900px) {

  .hero-summary .name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .hero-summary .home-special {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}

@media only screen and (min-width: 480px) and (max-width: 900px) {

   .hero-summary .name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
   }

   .hero-summary .home-special {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
   }
 }

h2.home-special {
  line-height: 1.2;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: .5px;
  text-transform: none;
}

#recent-work {
  color: var(--color-blue);
  padding: 3rem;
  text-align: center;
  scroll-behavior: smooth;
}

.projects-heading {
  text-align: center;
  padding: 2rem;
  padding: 16px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;

  /* border: blue solid 2px; */
}

.projects .zeehive {
  background:
    -webkit-gradient(linear, left top, left bottom, from(rgba(218,170,26,.7)), to(rgba(218,170,26,.7))),
    url(../images/home/zeehive-cover.png)
    center / cover
    no-repeat
    rgba(218,170,26,.7);
  background:
    -webkit-linear-gradient(rgba(218,170,26,.7), rgba(218,170,26,.7)),
    url(../images/home/zeehive-cover.png)
    center / cover
    no-repeat
    rgba(218,170,26,.7);
  background:
    -o-linear-gradient(rgba(218,170,26,.7), rgba(218,170,26,.7)),
    url(../images/home/zeehive-cover.png)
    center / cover
    no-repeat
    rgba(218,170,26,.7);
  background:
    linear-gradient(rgba(218,170,26,.7), rgba(218,170,26,.7)),
    url(../images/home/zeehive-cover.png)
    center / cover
    no-repeat
    rgba(218,170,26,.7);
}

.projects .pt-woodschool {
  background:
    -webkit-gradient(linear, left top, left bottom, from(rgba(78,136,162,.7)), to(rgba(78,136,162,.7))),
    url(../images/home/pt-woodschool-cover.png)
    center / cover
    no-repeat
    rgba(218,170,26,.7);
  background:
    -webkit-linear-gradient(rgba(78,136,162,.7), rgba(78,136,162,.7)),
    url(../images/home/pt-woodschool-cover.png)
    center / cover
    no-repeat
    rgba(218,170,26,.7);
  background:
    -o-linear-gradient(rgba(78,136,162,.7), rgba(78,136,162,.7)),
    url(../images/home/pt-woodschool-cover.png)
    center / cover
    no-repeat
    rgba(218,170,26,.7);
  background:
    linear-gradient(rgba(78,136,162,.7), rgba(78,136,162,.7)),
    url(../images/home/pt-woodschool-cover.png)
    center / cover
    no-repeat
    rgba(218,170,26,.7);
}

.secondary-project {
  /* border: red solid 2px; */
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 40rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 100vw;
}

.secondary-project p {
  color: var(--color-light);
  margin: 0 auto 2rem auto;
  width: 60%;
}

.project-text-cover {
  color: var(--color-light);
  margin-bottom: 9rem;
  text-align: center;
  /* border: green solid 2px; */
}

.more-projects {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
  text-align: center;
}

/* End home page */

/* zeehive casestudy */


#zeehive-logo-text {
  font-family: 'Michroma', sans-serif;
  font-size: 3.4rem;
}

ul.bullet li ::before {
  display: inline-block;
  content: '';
  border-radius: 0.375rem;
  height: .6rem;
  width: .6rem;
  margin-right: 0.75rem;
  margin-bottom: 2px;
  background-color: var(--color-blue);
}

ul.bullet li p{
  margin-left: 3rem;
}

.zeehive-blue-background {
  background: #C9EBF9;
  margin-top: -5rem;
  z-index: 3;

}

.container-lg, .container-sm, .container-half {
  margin: 0 1.6rem 1.6rem 1.6rem
}

.container-lg {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 900px);
      grid-template-columns: minmax(300px, 900px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}

.container-sm {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 630px);
      grid-template-columns: minmax(300px, 630px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-half {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  grid-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}

.container-half > * {
  max-width: 100%;
}

.container-half-lg {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 43rem);
  grid-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.highlight {
  background: var(--zeehive-blue);
  padding: 2.5rem 0 .2rem 0;
  margin-bottom: 4rem;
}

.vert-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.image-responsive {
  display: block;
  /* height: auto; */
  max-width: 100%;
  margin: 0 auto;
}

.fullscreen {
  display: none;
}

.hero-background.zeehive {

  background:
    url(../images/zeehive/hero-banner-full.png)
    top / cover
    no-repeat;
}

.hero-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 2rem 0 2rem;
}

.hero-text {
  margin-bottom: 5rem;
  text-align: center;
}


.hero-logo {
  height: 15rem;
  margin: 13rem auto 2rem auto;
}

.summary-detail-banner {
  background: rgba(240, 240, 240, 1);
  padding-top: 3rem;
  margin-bottom: 4rem;
}

.comment-card {
  background-color: var(--zeehive-blue);
  /* box-shadow: var(--shadow); */
  padding: 3rem 2.5rem .5rem 3rem;
  z-index: 10;
}

.sw {
  border-radius: 30px 30px 30px 0;
}

.ne {
  border-radius: 30px 0 30px 30px;
}

.nw {
  border-radius: 0px 30px 30px 30px;
}

.se {
  border-radius: 30px 30px 0px 30px;
}

.section-header {

  text-align: center;
  padding: 2.5rem;
  color: #fff;
  background: var(--color-gray);
  letter-spacing: .9px;
  margin: 6rem 0;

}

.section-header h2 {
  color: #FFF;
  margin: 0;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 2.2px;

}

.logo-group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  opacity: .5;
  max-width: 35rem;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.logo-group > * {
  max-width: 100%;
  margin: 5px;
}

.persona {
  border-radius: 0 40px 40px 40px;
  background: var(--zeehive-blue);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3rem;
  text-align: center;
  max-width: 30rem;
  margin-bottom: 2rem;
}

.persona ul {
  margin-top: 1rem;
}

.container-sidebar > * {
  margin: 2rem;
}

.image-wrapper {
  position: relative;
}

.hover {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms;
  width: 100%;
}

.hover:hover{
  background-color: rgba(201,235,249,.5);
  opacity: 1;
  z-index: 10;
}

.stagger .option-one {
  margin-bottom: 2rem;
}

.next-project {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 7rem 0 6rem 0;
}

.next-project .fa-chevron-right {
  color: var(--color-blue);
  margin: 0 0 12px 2rem;
}


 /* About Styles */

 .about-section {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
 }

.about-intro {
  padding-top: 5rem;
}

.about-outro {
  padding-bottom: 5rem;
  padding-left: 7.6rem;
}

.border-wrapper {
  padding-top: 30px;
}

 .about-text {
   margin-top: 0;
 }

 .about-icon {
   -ms-flex-item-align: start;
       align-self: flex-start;
   max-width: 70px;
   min-width: 60px;
   margin: 0 30px 0 30px;
   padding-bottom: 30px;
   /* border: solid red 2px; */
 }


/* PTSW Case Study */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.icon-text {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  margin-bottom: 2rem;
}

.icon-center {
  /* justify-self: center; */
  height: 50px;
}

.hero-background.ptsw {
  background:
    url(../images/ptsw/shingles.png)
    top / cover
    no-repeat
    fixed;
  height: 30vh;

}

.ptsw-logo {
  margin-top: 20px;
}

.center-icon {
  width: 15%;
  margin: 0 auto;
  color: var(--color-light);
}

.logo-group.ptsw > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  opacity: 1;
}

.border-round {
  border: solid var(--color-light) .5px;
  border-radius: 12px;
}

 /* Tablet  */
 @media only screen and (min-width: 480px) and (max-width: 900px) {
   h1  {
     font-size: 2.6rem;
     margin-bottom: 2rem;
   }

   h2 {
     font-size: 1.7rem;
     font-weight: 400;
     line-height: 1.4;
     margin-bottom: 1.2rem;
     text-transform: uppercase;
   }

   h3 {
     font-size: 1.7rem;
     line-height: 1.3;
     margin-bottom: 1.2rem;
   }

   h4 {
     font-size: 2rem;
     font-weight: 300;
     margin-bottom: 2rem;
   }

   h5 {
     font-size: 1.2rem;
   }

   p {
     font-size: 1.7rem;
     line-height: 1.4;
     letter-spacing: .3px;
     margin-bottom: 2rem;
   }

   li p {
     margin-bottom: .5rem;
   }

   /* nav bar tablet*/
   .wrapper {
     top: 85px;
     position: relative;
   }

   nav {
     font-size: 1.4rem;
     height: 85px;
     padding: 1rem 4rem 1rem 4rem;
   }

   .logo {
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-flex: 1;
         -ms-flex: 1;
             flex: 1;
     font-size: 2rem;
   }

   .logo span {
     padding-left: 1rem;
   }

   .nav-links li {
     padding-left: 2rem;
   }

   .logo .mobile {
     display: none;
   }

   .logo .fullscreen {
     display: inline-block;
   }

   /* home tablet*/
   .hero.home {
     max-width: 850px;
   }

   .hero.home .fullscreen{
     display: inline-block;
     height: 370px;
   }

   .hero.home .mobile{
     display: none;
   }

   .hero-summary {
         grid-template-areas:
     "name"
     "statement";
     padding: 1.5rem 0 1.5rem 4rem;
   }
   .hero.home .fullscreen {
     min-width: 200px;
   }

   h2.home-special {
     line-height: 1.4;
     font-size: 2rem;
   }

   /* Case Study */
   .summary-details {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
   }

   .container-sidebar {
     display: -ms-grid;
     display: grid;
     margin: 5rem auto;
   }

   .sidebar-a {
     -ms-grid-row: 1;
     -ms-grid-row-span: 2;
     -ms-grid-column: 1;
     -ms-grid-column-span: 2;
     grid-area: 1 / 1 / 3 / 3;

   }

   .sidebar-b {
     -ms-flex-item-align: center;
         -ms-grid-row-align: center;
         align-self: center;
     -ms-grid-row: 2;
     -ms-grid-row-span: 2;
     -ms-grid-column: 2;
     -ms-grid-column-span: 2;
     grid-area: 2 / 2 / 4 / 4;
       /* border: solid cyan 2px; */
     -ms-grid-column-align: center;
         justify-self: center;
     z-index: 1;
   }

   .sidebar-c {
     -ms-grid-row: 3;
     -ms-grid-row-span: 2;
     -ms-grid-column: 3;
     -ms-grid-column-span: 2;
     grid-area: 3 / 3 / 5 / 5;
     -ms-grid-column-align: end;
         justify-self: end;
     z-index: 2;
   }

   .sidebar-one {
     -ms-grid-row: 1;
     -ms-grid-column: 3;
     -ms-grid-column-span: 2;
     grid-area: 1 / 3 / 1 / 5;
     margin: -3rem 1rem 1rem 1rem;
     /* border: solid magenta 2px; */
     width: auto;
   }

   .sidebar-two {
     -ms-grid-row: 4;
     -ms-grid-column: 1;
     -ms-grid-column-span: 2;
     grid-area: 4 / 1 / 4 / 3;
     margin: 1rem 1rem -3rem 1rem;
     width: auto;
   }

   /* tablet about */

   .about-icon {
     max-width: 100%;
   }
 }



 /* Desktop */
@media only screen and (min-width: 900px) {
  body {
    /* background-color: thistle; */
  }

  h1  {
    font-size: 2.6rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.7rem;
    line-height: 1.3;
    margin-bottom: 1.2rem;
  }

  h4 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.7rem;
    line-height: 1.4;
    letter-spacing: .3px;
    margin-bottom: 2rem;
  }

  li p {
    margin-bottom: .5rem;
  }

  .video {
    margin-bottom: 2rem;
  }

  .btn {
    padding: 1.2rem 3rem 1.2rem 3rem;
  }

  .btn a {
    font-size: 1.4rem;
  }

  /* full screen nav bar */
  .wrapper {
    top: 85px;
    position: relative;
  }

  nav {
    height: 85px;
    padding: 1rem 4rem 1rem 4rem;

  }

  .logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 2rem;
  }

  .logo span {
    padding-left: 1rem;
  }

  .nav-links li {
    font-size: 1.4rem;
    padding-left: 4rem;
  }

  .logo-mobile {
    display: none;
  }

  .logo-fullscreen {
    display: inline-block;
  }

  /* Zeehive Case Study */

  .fullscreen {
    display: inline-block;
  }

  .mobile {
    display: none;
  }

  .summary-details{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .container-sidebar {
    display: -ms-grid;
    display: grid;
    margin: 5rem auto;

  }

  .sidebar-a {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 3 / 3;

  }

  .sidebar-b {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 2 / 2 / 4 / 4;
    -ms-grid-column-align: center;
        justify-self: center;
    z-index: 1;
  }

  .sidebar-c {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 3 / 3 / 5 / 5;
    -ms-grid-column-align: end;
        justify-self: end;
    z-index: 2;
  }

  .sidebar-one {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 1 / 3 / 1 / 5;
    margin-top: -3rem;
    margin-left: 1rem;
    width: auto;
  }

  .sidebar-two {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 4 / 1 / 4 / 3;
    margin-bottom: -3rem;
    margin-right: 1rem;
    width: auto;
  }

  .card-a {
    width: 65%;
    margin-top: -12rem;
  }

  .card-b {
    -ms-grid-column-align: end;
        justify-self: end;
    margin-top: -10rem;
    width: 65%;
  }

  .card-c {
    width: 65%;
  }

  .card-d {
    -ms-grid-column-align: end;
        justify-self: end;
    margin-top: 2rem;
    width: 50%;
  }

  .card-e {
    -ms-grid-column-align: end;
        justify-self: end;
    width: 65%;
    /* margin-bottom: -10rem; */
  }

  .card-f {
    margin-bottom: -6rem;
    width: 60%;
    -ms-grid-column-align: center;
        justify-self: center;
  }


  .container-half-lg.stagger {
    margin: -12rem 3rem 12rem 0;
  }

  /* home desktop*/
  .hero.home {
    max-width: 850px;
  }

  .hero-summary {
    padding: 1.5rem 0 1.5rem 4rem;
  }

  .hero.home .fullscreen {
    min-width: 200px;
    height: 370px;
  }

  .secondary-project {
    min-width: 400px;
  }

  h2.home-special {
    line-height: 1.4;
    font-size: 2rem;
  }

  /* about */
  .about-section::before {
    border: dashed var(--color-blue) 2px;
    content:"";
    margin-right: -82px;
  }

  .no-border::before {
    border: dashed #FFF 2px;
  }

  .headshot {
    max-width: 90rem;
  }

  .about-icon {
    max-width: 100%;
  }

  .about-intro {
    padding-left: 7.6rem;
  }
}
